body,html{height:100%;padding:0;margin:0;font-family:"Arial",sans-serif;}@font-face{font-family:"Beon Medium";src:url('font/Beon.otf') format('opentype');}
section:nth-child(1){
	height: 100%;
	background-image: url('img/wall.jpg');
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media only screen and(max-width:1024px){section:nth-child(1){background-attachment:scroll;}}
h1.neon{
	color: #fff;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	opacity: 1;
}
h1.neon.first{
	animation: text 1.5s;
	white-space: nowrap;
	font-size: 100px;
	font-family: "Beon Medium";
	position: fixed;
	float: left;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0px 0px 10px #159760,0px 0px 20px #159760,0px 0px 30px #159760,0px 0px 40px #159760,0px 0px 50px #159760,0px 0px 60px #159760;
}
@media(max-width:680px){h1.neon.first{font-size:60px;}}
@media(max-width:1024px){h1.neon.first{position:absolute;}}
h1.neon.second{
	animation: text2 2s;
	white-space: nowrap;
	font-size: 30px;
	font-family: "Beon Medium";
	position: fixed;
	float: left;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0px 0px 10px #d31f82,0px 0px 20px #d31f82,0px 0px 30px #d31f82,0px 0px 40px #d31f82,0px 0px 50px #d31f82,0px 0px 60px #d31f82;
}
@media(max-width:680px){h1.neon.second{font-size:20px;}}
@media(max-width:1024px){h1.neon.second{position:absolute;}}
@keyframes text{0%{opacity:0;}10%{opacity:1;}15%{opacity:0;}20%{opacity:1;}25%{opacity:0;}30%{opacity:1;}35%{opacity:0;}40%{opacity:1;}45%{opacity:0;}100%{opacity:1;}}@keyframes text2{0%{opacity:0;}15%{opacity:1;}20%{opacity:0;}25%{opacity:1;}30%{opacity:0;}35%{opacity:1;}40%{opacity:0;}45%{opacity:1;}50%{opacity:0;}100%{opacity:1;}}
span.flickering1{font-family:"Beon Medium";animation:flickering1 6s infinite;}span.flickering2{font-family:"Beon Medium";animation:flickering2 3s infinite;}span.flickering3{font-family:"Beon Medium";animation:flickering3 5s infinite;}span.flickering4{font-family:"Beon Medium";animation:flickering3 4.5s infinite;}span.flickering5{font-family:"Beon Medium";animation:flickering5 5.5s infinite;}
@keyframes flickering1{0%{opacity:1;}52%{opacity:1;}55%{opacity:0;}56%{opacity:1;}100%{opacity:1;}}@keyframes flickering2{0%{opacity:1;}62%{opacity:1;}65%{opacity:0;}66%{opacity:1;}69%{opacity:0;}70%{opacity:1;}73%{opacity:0;}74%{opacity:1;}100%{opacity:1;}}@keyframes flickering3{0%{opacity:1;}82%{opacity:1;}84%{opacity:0;}85%{opacity:1;}87%{opacity:0;}88%{opacity:1;}90%{opacity:0;}91%{opacity:1;}100%{opacity:1;}}@keyframes flickering5{0%{opacity:1;}62%{opacity:1;}65%{opacity:0;}67%{opacity:1;}70%{opacity:0;}75%{opacity:1;}100%{opacity:1;}}
.container{
	animation: social 2s;
	position: fixed;
	display: flex;
	top: 15%;
	left: 50%;
	opacity: 0.75;
	font-size: 50px;
	transform: translate(-50%, -50%);
}
@media(max-width:680px){.container{font-size:40px;}}
@media(max-width:1024px){.container{position:absolute;}}
@keyframes social{0%{opacity:0;}100%{opacity:0.75;}}
.container>a{
	float: left;
	margin: 10px 10px;
	width: 80px;
	height: 80px;
	background: #fff;
	text-align: center;
	line-height: 80px;
	border-radius: 25%;
	color: #fff;
	transition: 200ms;
}
@media(max-width:680px){.container>a{margin:5px 5px;width:65px;height:65px;line-height:65px;}}
a.fa-youtube{background:#ff0000;}a.fa-instagram{background:#c32aa3;}a.fa-twitch{background:#6441a4;}a.fa-twitter{background:#1da1f2;}
a.fa-youtube:hover{color:#ff0000;background:#fff;}a.fa-instagram:hover{color:#c32aa3;background:#fff;}a.fa-twitch:hover{color:#6441a4;background:#fff;}a.fa-twitter:hover{color:#1da1f2;background:#fff;}
a.fa-youtube:link{text-decoration:none;}a.fa-instagram:link{text-decoration:none;}a.fa-twitch:link{text-decoration:none;}a.fa-twitter:link{text-decoration:none;}
.fa-angle-down{
	animation: angle-down 2s infinite;
	position: fixed;
	bottom: -3%;
	left: 50%;
	opacity: 1;
	font-size: 90px;
	color: #a6b1b7;
	transition: 200ms;
	transform: translate(-50%, -50%);
}
@media(max-width:1024px){.fa-angle-down{position:absolute;}}
@keyframes angle-down{0%{bottom:2%;opacity:0;}100%{bottom:-3%;opacity:1;}}
.fa-angle-down:hover{color:#fff;}
.fa-angle-down:link{text-decoration:none;}
section:nth-child(2){
	height: 100vh;
	background-color: #282828;
	position: relative;
	box-shadow: -5px -5px 5px #a6b1b7, 5px -5px 5px #a6b1b7;
}
.bar{
	width: 100%;
	height: 3px;
	background-color: #159760;
	position: fixed;
	top: 0;
	z-index: 1;
}
.text{
	float: left;
	text-align: center;
	color: #a6b1b7;
	position: relative;
	top: 15%;
	left: 50%;
	font-size: 18px;
	line-height: 25px;
	text-shadow: 1px 1px 2px #000;
	transform: translate(-50%, -50%);
}
@media(max-width:680px){.text{top:30%;font-size:15px;line-height:22px;}}
div.video{
	width: 660px;
	height: 380px;
	background-color: #a6b1b7;
	border-radius: 8px;
	text-align: center;
	position: relative;
	top: 60%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
}
@media(max-width:680px){div.video{width:303px;height:177px;top:70%;}}
div.video>iframe{
	width: 640px;
	height: 360px;
	position: absolute;
    top: 0; right: 0;
	bottom: 0; left: 0;
	margin: auto;
	border-radius: 5px;
}
@media(max-width:680px){div.video>iframe{width:288px;height:162px;}}
.footer{
	height: 80px;
	position: relative;
	top: 15%;
    background-color: #a6b1b7;
	text-align: center;
	margin: 0 auto;
}
@media(max-width:1024px){.footer{opacity:0;}}
.footer>p{
	color: #282828;
	position: absolute;
	bottom: 0;
	left: 10%;
	font-size: 19px;
	transform: translate(-50%, -50%);
}
@media(max-width:1024px){.footer>p{opacity:0;}}