body,html{height:100%;padding:0;margin:0;font-family:"Arial",sans-serif;}
section{
	height: 100vh;
	background-color: #282828;
	background-attachment: absolute;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
iframe{
	width: 640px;
	height: 360px;
	position: absolute;
    top: 45%; right: 0;
	bottom: 0; left: 0;
	margin: auto;
	border-radius: 5px;
	box-shadow: 4px 4px 8px #000;
}
@media (max-width:800px){iframe{width:288px;height:162px;}}
p {
	color: #a6b1b7;
  	text-align: center;
	font-size: 70px;
	margin: 0;
	text-shadow: 2px 2px 4px #000;
}
@media (max-width:800px){p{font-size: 50px}}
h1 {
	color: #a6b1b7;
	font-size: 20px;
	position: absolute;
	text-align: center;
	float: left;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 2px 2px 4px #000;}